[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
ipython = "*"
rshell = "*"

[packages]
requests = "*"
rshell = "*"

[requires]
python_version = "3.9"
